{% extends "base.html" %}

{% block content %}
{% include "oc6web-h1-header.html" %}
{% include "manifest/help_index.html" %}

<div class="row hidden intel-box" id="error-box">
    <div class="alert alert-danger">
        Cannot submit unless you fill out all 3 elements.
    </div>
</div>
<div class="form-group">
    <form method="GET" id="submitForm">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon">Compare</span>
            <input type="text" id="id_baseline1" name="file1" class="form-control" placeholder="e.g. XMM7360_01.1511.00">
            <div id="rspdisplay"></div>
            <span class="input-group-addon">with</span>
            <input type="text" id="id_baseline2" name="file2" class="form-control" placeholder="e.g. SOFIA-LTE_LPOP_MR1_SIT_PUBLISHER_933">
            <span class="input-group-btn">
                <input type="submit" value="Submit!" class="btn btn-default" />
            </span>
        </div>
    </form>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $(function() {

      //var baseline = $("input[name=file1]").on("keyup", function() { console.log($(this).val()); });
      //console.log(baseline);
      var cache = {};

      /*
      var activeid = readCookie("idxsrcitem");
      $('#srcsource option:eq("' + activeid + '")').attr('selected', 'selected');
      
      $('#srcsource').change(function(){
         $("select option:selected").each(function () {
             activeid = $(this).val() ;
                 writeCookie("idxsrcitem", activeid );
         });
      }); */

      var rspdisplay = $('#rspdisplay'); 


      var serving = false;
      var term = '';
      
      var f_source =  function(request, response) {
        var thisr;
        /*function show_res(thisr){
            //console.log(thisr);
            rspdisplay.html(""); for (d in thisr){console.log("d: " + d); rspdisplay.append("<br><a href='" + thisr[d] + "'>" + thisr[d] + "</a>")
            };
        };*/
        term = request.term;
        console.log("request.term: ", request.term);
        console.log("term: ", term );
        console.log("request: ", request); // Object {term: "x"}
        console.log("response: ", response); // function(){return a.apply(b||this,c.concat(d.call(arguments)))}
        
        if (serving){
            console.log("sering: ", serving);
            console.log("now return thisr: ", thisr);
            //console.log("request: ", request);
            //console.log("response: ", response);
            return thisr;
        }; //make sure we don't hit the server again before he responded
        if ( term in cache ) {
                thisr = cache[ term ] ;
                console.log("term in chache, term: ", term);
                console.log("term in chache, cache: ", cache);
                //console.log("request: ", request);
                //console.log("response: ", response);

                response(thisr);
                //console.log("request: ", request);
                //console.log("response: ", response);
                //show_res(thisr);
                return;

                //return thisr;
        }

        serving = true;
        request["productid"] = term;  //"XMM7560";
        request["csrfmiddlewaretoken"] = $('[name=csrfmiddlewaretoken]').val();
        request["action"] = "get_sps_tags";
        //console.log("request: ", request);
        
        //console.log("response: ", response);

        $.post("/mani/ajax", request,
        /*    
        { 
          productid: "XMM7560",    
          //productid : $("input[name=file1]").on("keyup", function() { console.log($(this).val()); }).val(),
          //productid : $("input[name=file1]").on("keyup", function() { console.log($(this).val()); }),
          
          //productid : $('[name=file1]').on("keyup", function() { console.log($(this).val()); }).val(),
          
          //productid : $('[name=file1]').val(),
          csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
          action: "get_sps_tags",
          //project_id: id,
        },
        */
        function(resp, status) {  
            //var baseline = $('#id_baseline1').val(); 
            //console.log(" print out input: ");
            //console.log(baseline);


             thisr = resp;
             console.log( "callback: thisr=resp: " + thisr ); // all sps tags
             //console.log("callback: request: ", request);
             //console.log("callback: response: ", response);
             //$("input[name=file1]").on("keyup", function() { console.log("keyup detected", $(this).val()); });
             
             //console.log("keyup detected", $("input[name=file1]") );

             //cache[ term ] = thisr;
            cache[ term ] = [] ;
            temp = thisr.split(",");
            console.log("temp: " + temp);
            for ( i=0; i<temp.length; i++ )  {
                cache[ term ].push( temp[i].trim() );
                console.log("cache[ term ]: " + cache[ term ]);
            } 
            
            serving = false;
            response(cache[ term ]);

        } //callback function(resp, status) 
        ); // post()
       }; // f_source

       /*
       var delay = (function(){
         var timer = 0;
         return function(callback, ms){
           clearTimeout (timer);
           timer = setTimeout(callback, ms);
         };
       })(); */

       $( "#id_baseline1" ).autocomplete({
            delay: 600, //1000
            source: f_source,
            //source: ["xmmtest1", "xmmtest2"],
            minLength: 4,
            highlight:true,
            select: function( event, ui ) {
                console.log("choosed " + this.value);
                return false;
            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                console.log("ui-autocomplete: term: ", term);
                console.log("ui-autocomplete: ul: ", ul);
                console.log("ui-autocomplete: item: ", item);
                console.log("ui-autocomplete: item: ", item.label);
                console.log("ui-autocomplete: item: ", item["label"]);
                //console.log("ui-autocomplete: item[0]: ", item[0]);
                //console.log("ui-autocomplete: item[1]: ", item[1]);
                return $( "<li>" ).append( "<a href='/refer" + item[0]+ "?srcterm=" + term + "'>" + item["value"] + "</a>" ).appendTo( ul ); };  

        $( "#id_baseline2" ).autocomplete({
          delay: 600,
          source: f_source,
          //source: ["xmmtest1", "xmmtest2"],
          minLength: 4,  // ie. XMM7360 or XMM7 ... minimum characters need to input
          highlight:true,
          select: function( event, ui ) {
                         console.log("choosed " + this.value);
                         return false;
          }           
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
          console.log("ui-autocomplete: term: ", term);
          console.log("ui-autocomplete: ul: ", ul);
          console.log("ui-autocomplete: item: ", item);
          console.log("ui-autocomplete: item: ", item.label);
          console.log("ui-autocomplete: item: ", item["label"]);
          //console.log("ui-autocomplete: item[0]: ", item[0]);
          //console.log("ui-autocomplete: item[1]: ", item[1]);
          return $( "<li>" ).append( "<a href='/refer" + item[0]+ "?srcterm=" + term + "'>" + item["value"] + "</a>" ).appendTo( ul ); }; 

        /*
        _renderItem: function( ul, item ) {
          return $( "<li>" )
            .attr( "data-value", item.value )
            .append( item.label )
            .appendTo( ul );
        }
        */
        /*
        // return responsed items to class= ui-complete
        .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li>" ).append( "<a href='/refer" + item[0]+ "?srcterm=" + term + "'>" + item[1] + "</a>" ).appendTo( ul ); }; */
    });
    </script>
    <div class="input-group intel-box" id="format">
        <h4>Select format:</h4>
        <div class="radio">
            <label>
                <input name="format" type="radio" value="table" checked /> Compressed table <small class="text-muted">(Best suited for <b>Release Notes</b> generation)</small>
            </label>
        </div>
        <div class="radio">
            <label>
                <input name="format" type="radio" value="list" /> Detailed list <small class="text-muted">(For complete changeset including merges)</small>
            </label>
        </div>
        <div class="radio">
            <label>
                <input name="format" type="radio" value="excel" /> Formatted as <i class="intelicon intelicon-ms-excel-solid text-primary"></i>Excel document <small class="text-muted">(With additional UTP information)</small>
            </label>
        </div>
    </div>
    <div class="intel-box text-muted">
        <h4>Hint:</h4>
        <i class="intelicon-find-an-expert intelicon-active-info intelicon-large"></i> 
        Feel free to specify each input as <b>SPS Version</b> or <b>TCloud testname</b>.
    </div>

</div>
<script>
/*
    $('#format input').on('change', function(e) {
        console.log(e);
        var action = e.currentTarget.value;
        console.log("Updating action to "+action);
        $('#submitForm').attr('action', action);
    });
*/

    /*
    $('#submitForm').submit(function(ev) {
            var a = $('#submitForm input[name=file1]');
            var b = $('#submitForm input[name=file2]');
            var c = $('input[name=format]:checked');

            if (a.val() && b.val() && c.val()) {
                var format = c.val();
                var params = ['/mani', 
                                encodeURIComponent(a.val()), 
                                encodeURIComponent(b.val())]
                if (format == 'excel') {
                    params.push(format);
                } else {
                    params.push('#'+format);
                }
                window.location = params.join('/');
            }
            else {
                if (!a.val())
                    a.attr('class', a.attr('class') + ' has-error');
                if (!b.val())
                    b.attr('class', b.attr('class') + ' has-error');
                if (!c.val()) 
                    c.attr('class', c.attr('class') + ' has-error');
                $('#error-box').show();
            }
            ev.preventDefault();
    });  */
</script>

{% endblock content %}

